@font-face {
    font-family: font_one;
    src: url(../fonts/TitilliumWeb-Light.ttf);
}
@font-face {
    font-family: font_two;
    src: url(../fonts/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: font_three;
    src: url(../fonts/Consolas.ttf);
}
* {
    box-sizing: border-box;
}
html, body {
    color: #34495e;
    font-family: font_two;
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: font_one;
}
div, p {
    font-family: font_two;
    margin: 0px;
}

/* Utilities */
.font-1 { font-family: font_one; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-green { color: #2ecc71; }
.text-red { color: #e74c3c; }
.fullwidth { width: 100%; }
.fullheight { height: 100%; }
.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
/*  background-image: url();        */
}
.bg-contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
/*  background-image: url();        */
}
.marg-0 {margin: 0px;}
.marg-top-0 {margin-top: 0px;}
.marg-top-15 {margin-top: 15px;}
.marg-top-25 {margin-top: 25px;}
.marg-top-50 {margin-top: 50px;}
.marg-top-75 {margin-top: 75px;}
.marg-top-100 {margin-top: 100px;}
.marg-bottom-20 {margin-bottom: 20px;}
.marg-bottom-50 {margin-bottom: 50px;}
.marg-bottom-75 {margin-bottom: 75px;}
.marg-bottom-100 {margin-bottom: 100px;}

.padd-0 {padding: 0px;}
.padd-top-25 {padding-top: 25px;}
.padd-top-50 {padding-top: 50px;}
.padd-bottom-25 {padding-bottom: 25px;}
.padd-bottom-50 {padding-bottom: 50px;}
.animate {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.box-shadow {
	-webkit-box-shadow: 0 0 50px 0 #858585;
	box-shadow: 0 0 50px 0 #858585;
}
.zoom-on-hover:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.p-col-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.font-1-3 {
    font-size: 1.3em;
}
.border {
    border: 1px solid #ccc;
}
.box-shadow {
    -webkit-box-shadow: 0 0 50px 0 ##858585;
    box-shadow: 0 0 50px 0 ##858585;
}

.navbar.navbar-default {
    background-color: rgba(255, 255, 255, 1);
}
.home-image {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../images/dyadic.png);
}
.logo {
    width: 100%;
    max-width: 570px;
    height: auto;
    margin-top: 40px;
}
.dyadic-home-logo {
    width: auto;
    height: 200px;
}
footer {
    color: #fff;
    padding: 10px 30px;
    background-color: #757575;
    margin-top: 80px;
}
footer a {
    color: rgb(255,171,64);
}
.dyadic-text {
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1.8em;
}
#dyadic-gallery {
    max-width: 800px;
    margin: 0px auto;
}
#dyadic-trailer {
	width: 100%;
	max-width: 1280px;
	height: auto;
}
#dyadic-download-link {
    margin-top: 5px;
}
.container.our-team .row {
    padding: 0px;
}
.container.our-team .row div {
    padding: 7px;
}
.profile-pict {
    margin: 0px auto;
    height: 150px;
    width: 150px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
}
.blog-container {
    background-color: #f0f4f5;
    padding: 10px 20px 60px 20px;
    border: 1px solid #ccc;
    position: relative;
}
.blog-container h2{
    margin: 15px 0px 25px 0px;
}
.blog-container div{
    font-size: 1.15em;
}
.blog-container div div.align{
    text-align: center;
    margin-top: 30px;
}
.blog-container div div.align img{
    margin-bottom: 10px;
}
.blog-container div div.align i{
    font-size: .9em;
    font-weight: bold;
}
.time-posted{
    background-color: #fff;
    position: absolute;
    bottom: 1px;
    right: 1px;
    padding: 10px 20px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.min-req tr{
    height: 2em;
    color: #8a6d3b;
}
#indiedn-icon {
    height: 50px;
    width: 95px;
    overflow: hidden;
    margin: 35px auto 0px auto;
    background-image: url(../images/indiedb_default.png);
    display: block;
}
#indiedn-icon:hover {
    background-image: url(../images/indiedb_coloured.png);
}
.social-media-icons div a i {
    color: #34495e;
    margin-top: 25px;
}
.social-media-icons div a i.fa-facebook-official:hover{color: #3b5998;}
.social-media-icons div a i.fa-twitter:hover{color: #00aced;}
.social-media-icons div a i.fa-twitch:hover{color: #6441a5;}
.social-media-icons div a i.fa-youtube:hover{color: #bb0000;}
.social-media-icons div a i.fa-steam:hover{color: #000000;}
#admin-login-form {
    width: 150px;
    height: auto;
    position: fixed;
    top: 50px;
    right: -151px;
    z-index: 500;
}
.admin-blog-title {
    cursor: pointer;
}
.admin-blog-body {
    display: none;
    height: 300px;
    padding: 10px;
    font-family: font_three, Monaco, monospace;
    max-width: 760px;
}
.admin-blog-action,
.admin-blog-action2 {
    display: none;
    width: 150px;
    margin: 10px 10px 10px 0px;
}
.admin-blog-loading {
    display: none;
    font-size: 1.8em;
    color: #e74c3c;
}
.admin-blog-notif {
    padding: 5px 10px 0px 0px;
}
.blog-body-input {
    height: 250px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    max-width: 100%;
    font-family: font_three, Monaco, monospace;
}
.featured-game {
    padding: 40px 25px;
}
.featured-game-desc {
    padding-top: 25px;
    padding-left: 70px;
    font-size: 1.1em;
    line-height: 1.5em;
}
@media screen and (min-width: 992px) {
    .featured-game-desc {
        padding-top: 0px;
    }
}


































